<section class="inner-hero-section">

    {% if section.image !=blank %}
        <img src="{{section.settings.image | img_url }}" alt=""/>

        {% else %}
            {% capture current %}{% cycle 1, 2 %}{% endcapture %}

            {{'lifestyle-' | append: current | placeholder_svg_tag:'placeholder-svg'}}
    {% endif %}
    <div class="container py-5" >
        <div class="row">
            <div class="col-lg col-md-8 mx-auto">
              <h1>{{section.settings.title}}</h1>
              {{section.settings.description}}
              <a href="{{section.settings.button.link}}" class="btn btn-secondary" >
                  {{section.settings.button_label}}
                </a>
            </div>

    </div>

  </div>
</section>

{% schema %} 
{
    "name":"Hero",
    "class":"hero-section",
    "settings":[
    {
        "type":"image_picker",
        "id":"image",
        "label":"Background Title"
    },
    {
        "type":"text",
        "id":"title",
        "default":"Example Heading",
        "label":" Heading"
    },
    {
        "type":"richtext",
        "id":"description",
        "default":"<p>Potato Para</p>",
        "label":" Description"
    },
    {
        "type":"text",
        "id":"button_label",
        "default":"Potato Para",
        "label":" Button"
    },
    {
        "type":"url",
        "id":"button_link",
        "label":"Button Link"
    }
    ],
    "presets": [
        {
            "category": "Hero",
            "name":"Hero Adjustments"
        }
    ]
}
{% endschema %}
